@media only screen and (min-width: 768px) {
  .loader_section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }

  .loader_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
