@media only screen and (min-width: 768px) {
  .moviesPage_section {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .moviesPage_container {
  }

  /* =============== */
  .moviesPage_form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }

  .inputWrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
  }

  .moviesPage_form_icon {
    position: absolute;
    left: 10px;
    font-size: 26px;
  }

  .moviesPage_form_input {
    flex-grow: 1;
    background-color: white;
    border-radius: 3px;
    font-size: 20px;
    padding: 5px 10px 5px 40px;
    width: 350px;
    border: 1px solid #ccc;
  }

  .moviesPage_form_button {
    background-color: rgb(228, 228, 228);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 20px;
    transition: background-color 0.3s ease;
  }

  .moviesPage_form_button:hover {
    background-color: rgb(200, 200, 200);
  }
}
